*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-visual{
    background-image: url(mv.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}

.header-text{
    padding: 20px;
}

main{
    width: 840px;
    margin: 50px auto;
}

main >div{
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

main >div:nth-of-type(n+2){
    padding-top: 30px;
}